.*.sw[op]
.cache/
.coverage
.DS_Store?
.eggs
.idea
.ipynb_checkpoints
.project
.pydevproject
.ropeproject
.settings/
.vscode/
*_out.txt
*,cover
*.7z
*.bak
*.bak
*.bin
*.class
*.com
*.dict
*.dll
*.dmg
*.exe
*.gz
*.html
*.index
*.inv
*.iso
*.jar
*.js
*.log
*.lprof
*.model
*.npy
*.npz
*.o
*.old
*.pkl
*.prof
*.pyc
*.pyd
*.pyo
*.rar
*.so
*.sql
*.sqlite
*.tar
*.zip
*~
/build/
/dist/
cython_debug
data
dedan_gensim.tmproj
docs/_downloads/
docs/_images/
docs/_static
docs/notebooks/.ipynb_checkpoints
docs/src/_build/
ehthumbs.db
gensim*.egg-info
gensim/_matutils.c
gensim/corpora/_mmreader.c
gensim/models/doc2vec_corpusfile.cpp
gensim/models/doc2vec_inner.cpp
gensim/models/fasttext_corpusfile.cpp
gensim/models/fasttext_inner.c
gensim/models/nmf_pgd.c
gensim/models/word2vec_corpusfile.cpp
gensim/models/word2vec_inner.c
gensim/similarities/fastss.c
Icon?
Thumbs.db
vec.txt
