Pyro4==4.82
Sphinx==9.1.0
sphinx-rtd-theme==3.1.0
annoy==1.17.3
memory-profiler==0.61.0
nltk==3.9.4
pandas==3.0.3
scikit-learn==1.9.0
sphinx-gallery==0.21.0
sphinxcontrib-programoutput==0.20
statsmodels==0.14.6
testfixtures==12.2.0
